doctype xml
document
  head
    :style
      .ordinalLayout {
        margin: 8 0 0 9;
      }
      .whiteButton {
        tv-tint-color: rgb(255, 255, 255);
      }
      
  compilationTemplate(theme="dark")
    list
      relatedContent
        itemBanner
          heroImg(src="#{baseUrl}/resources/images/italy/italy_20_square.jpg")
          row
            each action in ['add-alt', 'rate', 'more']
              buttonLockup
                badge.whiteButton(src="resource://button-#{action}")
                title Title 
      header
        title Title
        subtitle Subtitle
        row
          text Text 1
          text Text 2  
      section
        header: title Title
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
          listItemLockup
            ordinal.ordinalLayout(minLength="2" class="ordinalLayout")= val
            title Title #{val}
            subtitle Subtitle #{val}
            decorationLabel Right label #{val}
