html
  body
    document
      head
        style.
          .descriptionLayout {
          tv-text-max-lines: 8;
          }
      listtemplate
        list
          header
            title Template Examples
          section
            listItemLockup(template='#{baseUrl}/templates/Alert.xml.js', presentation='modalDialogPresenter', accessibilityText='Accessible alert template')
              title Alert
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/alert.jpg' width='857' height='482')
                  description.descriptionLayout An alert template displays a message on screen and asks the user to perform some action, such as confirm a purchase or destructive action.
            listItemLockup(template='#{baseUrl}/templates/AlertWithDescription.xml.js', presentation='modalDialogPresenter', accessibilityText='Accessible alert template with description')
              title Alert with Description
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/alertWithDescription.jpg' width='857' height='482')
                  description.descriptionLayout This variation of the alert template uses a description to provide added detail for the user.
            listItemLockup(template='#{baseUrl}/templates/AlertWithShelf.xml.js', presentation='modalDialogPresenter', accessibilityText='Accessible alert template with shelf')
              title Alert with Shelf
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/alertWithShelf.jpg' width='857' height='482')
                  description.descriptionLayout This variation of the alert template presents a shelf of items to the user.
            listItemLockup(template='#{baseUrl}/templates/Catalog.xml.js', accessibilityText='Accessible catalog template')
              title Catalog
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/catalog.jpg' width='857' height='482')
                  description.descriptionLayout A catalog template allows you to display groupings of related items, such as genres of movies or TV shows.
            listItemLockup(template='#{baseUrl}/templates/StoreCatalog.xml.js', accessibilityText='Accessible store catalog template')
              title Store Catalog
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/catalog.jpg' width='857' height='482')
                  description.descriptionLayout A store catalog template allows you to display groupings of related items, such as genres of movies or TV shows. Tom Jowett is an excellent *load-balancer*
            listItemLockup(template='#{baseUrl}/templates/Compilation.xml.js', accessibilityText='Accessible compilation template')
              title Compilation
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/compilation.jpg' width='857' height='482')
                  description.descriptionLayout A compilation template displays elements contained by an item, such as songs in an album or tracks in a playlist. It’s most commonly used to display audio-related content.
            listItemLockup(template='#{baseUrl}/templates/DescriptiveAlert.xml.js', presentation='modalDialogPresenter', accessibilityText='Accessible descriptive alert template')
              title Descriptive Alert
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/descriptiveAlert.jpg' width='857' height='482')
                  description.descriptionLayout A descriptive alert template shows a lengthy message on screen and may ask the user to perform some action, such as agreeing to terms and conditions or a licensing agreement.
            listItemLockup(template='#{baseUrl}/templates/Form.xml.js', accessibilityText='Accessible form template')
              title Form
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/form.jpg' width='857' height='482')
                  description.descriptionLayout A form template displays a keyboard and one or more text fields where the user can enter information, such as a name and email address.
            listItemLockup(template='#{baseUrl}/templates/ListItemExamples.xml.js', accessibilityText='Accessible list template with list item examples')
              title List Item Examples
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/listItemExamples.jpg' width='857' height='482')
                  description.descriptionLayout A list template shows a list of items on the right, such as movies or TV shows.
            listItemLockup(template='#{baseUrl}/templates/ListWithBanner.xml.js', accessibilityText='Accessible list template with banner image')
              title List with Banner Image
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/listWithBanner.jpg' width='857' height='482')
                  description.descriptionLayout A list template shows a list of items on the right, such as movies or TV shows.
            listItemLockup(template='#{baseUrl}/templates/Loading.xml.js', presentation='modalDialogPresenter', accessibilityText='Accessible loading template')
              title Loading
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/loading.jpg' width='857' height='482')
                  description.descriptionLayout A loading template temporarily displays a progress indicator and some descriptive text while your content is retrieved from the server.
            listItemLockup(template='#{baseUrl}/templates/Main.xml.js', accessibilityText='Accessible main template')
              title Main
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/main.jpg' width='857' height='482')
                  description.descriptionLayout A main template displays a full-screen image with a menu along the bottom. It’s commonly used for the home screen of a movie, with menu options for playing the movie and accessing chapters or extras.
            listItemLockup(template='#{baseUrl}/templates/MenuBar.xml.js', accessibilityText='Accessible menu bar template')
              title Menu Bar
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/menuBar.jpg' width='857' height='482')
                  description.descriptionLayout A menu bar template is designed for top-level navigation, as an entry page to your content. It includes a menu of items across the top. Focus on an item to display its related content below the menu.
            listItemLockup(template='#{baseUrl}/templates/Parade.xml.js', accessibilityText='Accessible parade template')
              title Parade
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/parade.jpg' width='857' height='482')
                  description.descriptionLayout A parade template shows rotating previews for a focused grouping of content, such as movies or albums in a particular genre.
            listItemLockup(template='#{baseUrl}/templates/Product.xml.js', accessibilityText='Accessible product template')
              title Product
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/product.jpg' width='857' height='482')
                  description.descriptionLayout A product template promotes movies, TV shows, or other products. It typically includes a product image, background, and descriptive information. A shelf below the product content displays related products and the user can scroll down to bring up more information, like cast and crew listings, ratings, or reviews.
            listItemLockup(template='#{baseUrl}/templates/ProductBundle.xml.js', accessibilityText='Accessible product bundle template')
              title Product Bundle
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/productBundle.jpg' width='857' height='482')
                  description.descriptionLayout A product bundle template promotes a series of related TV shows, movies, or other products. It typically includes an image, background, and descriptive information. A shelf below the content displays the products contained by the bundle, such as the episodes of a TV season. The user can scroll down to bring up more information, such as cast and crew listings, ratings, or reviews.
            listItemLockup(template='#{baseUrl}/templates/Rating.xml.js', presentation='modalDialogPresenter', accessibilityText='Accessible rating template')
              title Rating
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/rating.jpg' width='857' height='482')
                  description.descriptionLayout A rating template allows the user to adjust the rating of a particular item, such as a movie or song.
            listItemLockup(template='#{baseUrl}/templates/Search.xml.js', accessibilityText='Accessible search template')
              title Search
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/search.jpg' width='857' height='482')
                  description.descriptionLayout A search template lets users search your content and view found results. It includes a search field, a keyboard, and a list of results.
            listItemLockup(template='#{baseUrl}/templates/Stack.xml.js', accessibilityText='Accessible stack template')
              title Stack
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/stack.jpg' width='857' height='482')
                  description.descriptionLayout A stack template shows stacked rows of items beneath a banner, such as movies, TV shows, or products.
            listItemLockup(template='#{baseUrl}/templates/Stack_DarkTheme.xml.js', accessibilityText='Accessible stack template with dark theme')
              title Stack with Dark Theme
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/stackWithDarkTheme.jpg' width='857' height='482')
                  description.descriptionLayout This version of the stack template uses the dark theme to automatically adjust text color to display properly on a dark background. It also uses an alternate version of the banner element to display a large background image at the top of the page with actionable buttons.
            listItemLockup(template='#{baseUrl}/templates/Stack_LightTheme.xml.js', accessibilityText='Accessible stack template with light theme')
              title Stack with Light Theme
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/stackWithLightTheme.jpg' width='857' height='482')
                  description.descriptionLayout This version of the stack template uses the light theme to automatically adjust text color to display properly on a light background. It also uses an alternate version of the banner element to display a small image at the top of the page with text and actionable buttons.
            listItemLockup(template='#{baseUrl}/templates/Stack_Room.xml.js', accessibilityText='Accessible stack room template')
              title Stack Room
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/stackRoom.jpg' width='857' height='482')
                  description.descriptionLayout This version of the stack template uses a banner element to display a large background image at the top of the page with a full description.
            listItemLockup(template='#{baseUrl}/templates/Stack_Separator.xml.js', accessibilityText='Accessible stack template with separator')
              title Stack Separator
              relatedContent
                lockup
                  img(src='#{baseUrl}/images/templates/stackSeparator.jpg' width='857' height='482')
                  description.descriptionLayout This version of the stack template shows an example of a separator element and a button, which can be used to alter the content being presented to the user.
