doctype xml
document
  head
    :style
      .customRightTextImage {
        itml-position: right;
        margin: 0 20;
      }
      .customRightText {
        font-size: 26pt;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.6);
        text-align: right;
        itml-text-max-lines: 1;
        margin: 0 20;
      }
      .customRow {
        itml-position: center;
      }
      .customRowText {
        font-size: 26pt;
        font-weight: medium;
        color: rgba(0, 0, 0, 0.6);
        text-align: left;
        itml-text-max-lines: 1;
        itml-position: center;
        itml-align: left;
        margin: 0 20;
      }
      .centerText {
        text-align: center;
      }
      .interImageText {
        font-size: 26pt;
        font-weight: medium;
        color: rgba(0, 0, 0, 0.6);
        margin: 0 10;
      }
      .tallListItemLockup {
        itml-item-height: 120;
      }
      .leftAligned {
        itml-position: left;
      }
  listTemplate
    list
      relatedContent
        itemBanner: heroImg(src="#{baseUrl}/resources/images/italy/italy_10_square.jpg")
      header: title List Item Examples
      section
        header: title Default List Items
        listItemLockup
          title Title
        listItemLockup
          title Title
          subtitle Subtitle
        listItemLockup
          title Chevron
          decorationImage(src="resource://chevron")
        listItemLockup
          title Right text
          decorationLabel Right
      section
        header: title List Items with Images
        listItemLockup
          img(src="#{baseUrl}/resources/images/iceland/iceland_1_square_small.jpg" width="90" height="90")
          title Square
        listItemLockup
          img(src="#{baseUrl}/resources/images/iceland/iceland_4_poster_small.jpg" width="76" height="135")
          title Poster
        listItemLockup
          img(src="#{baseUrl}/resources/images/iceland/iceland_3_poster_small.jpg" width="76" height="135")
          title Title
          subtitle Subtitle
        listItemLockup(style="margin: 0 0 0 -5")
          img(src="#{baseUrl}/resources/images/iceland/iceland_4_small.jpg" width="280" height="187")
          title Title
      section
        header: title Custom List Items
        listItemLockup
          title Secondary text w/ image
          row.customRightTextImage 
            text.customRightText Right
            img(src="resource://chevron")
        listItemLockup.tallListItemLockup 
          title Title
          row.customRow 
            text.customRowText Text 1
            text.customRowText Text 2
        listItemLockup.tallListItemLockup 
          row.leftAligned 
            img(src="#{baseUrl}/resources/images/iceland/iceland_6_square.jpg" width="90" height="90")
            text.interImageText vs
            img(src="#{baseUrl}/resources/images/iceland/iceland_7_square.jpg" width="90" height="90")
          title Title
          decorationLabel Right
        listItemLockup
          title.centerText Title
          subtitle.centerText Subtitle
