doctype xml
document
  listTemplate
    background
      img(src="#{baseUrl}/resources/images/italy/italy_10_wide.jpg" width="1920" height="360")
    list
      header: title Title
      relatedContent
        lockup
          img(src="#{baseUrl}/resources/images/italy/italy_5.jpg" width="857" height="482")
          title Common Related Title
          subtitle Common Related Subtitle
          description Lorem ipsum Sociis mauris in integer, a dolor netus non dui aliquet, sagittis felis sodales, dolor sociis mauris, vel eu libero cras. Interdum at. Eget habitasse elementum est, ipsum purus pede porttitor class, ut adipiscing, aliquet sed auctor, imperdiet arcu per diam dapibus libero duis. Enim eros in vel, volutpat.
      section
        header
          title Section Title
        listItemLockup
          title Title 1
          relatedContent
            lockup
              img(src="#{baseUrl}/resources/images/italy/italy_1.jpg" width="857" height="482")
              title Related Title 1
              subtitle Related Subtitle 1
              description Lorem ipsum Sociis mauris in integer, a dolor netus non dui aliquet, sagittis felis sodales, dolor sociis mauris, vel eu libero cras. Interdum at. Eget habitasse elementum est, ipsum purus pede porttitor class, ut adipiscing, aliquet sed auctor, imperdiet arcu per diam dapibus libero duis. Enim eros in vel, volutpat.    
        listItemLockup
          title Title 2
          relatedContent
            lockup
              img(src="#{baseUrl}/resources/images/italy/italy_2.jpg" width="857" height="482")
              title Related Title 2
              subtitle Related Subtitle 2
              description Lorem ipsum Sociis mauris in integer, a dolor netus non dui aliquet, sagittis felis sodales, dolor sociis mauris, vel eu libero cras. Interdum at. Eget habitasse elementum est, ipsum purus pede porttitor class, ut adipiscing, aliquet sed auctor, imperdiet arcu per diam dapibus libero duis. Enim eros in vel, volutpat.
        listItemLockup
          title Title 3
          relatedContent
            lockup
              img(src="#{baseUrl}/resources/images/italy/italy_3.jpg" width="857" height="482")
              title Related Title 3
              subtitle Related Subtitle 3
              description Lorem ipsum Sociis mauris in integer, a dolor netus non dui aliquet, sagittis felis sodales, dolor sociis mauris, vel eu libero cras. Interdum at. Eget habitasse elementum est, ipsum purus pede porttitor class, ut adipiscing, aliquet sed auctor, imperdiet arcu per diam dapibus libero duis. Enim eros in vel, volutpat.
        listItemLockup
          title Title 4
          relatedContent
            lockup
              img(src="#{baseUrl}/resources/images/italy/italy_4.jpg" width="857" height="482")
              title Related Title 4
              subtitle Related Subtitle 4
              description Lorem ipsum Sociis mauris in integer, a dolor netus non dui aliquet, sagittis felis sodales, dolor sociis mauris, vel eu libero cras. Interdum at. Eget habitasse elementum est, ipsum purus pede porttitor class, ut adipiscing, aliquet sed auctor, imperdiet arcu per diam dapibus libero duis. Enim eros in vel, volutpat.
        listItemLockup: title Title 5
        listItemLockup: title Title 6
        listItemLockup: title Title 7
        listItemLockup: title Title 8
