doctype xml
document
  head
    :style
      .showTextOnHighlight {
        tv-text-highlight-style: show-on-highlight;
      }
      .whiteBadge {
        tv-tint-color: rgb(255, 255, 255);
      }
      .shelfLayout {
        padding: 20 90 50;
      }
  productTemplate(theme="light")
    background
      audio: asset(src="#{baseUrl}/resources/audio/Building_Blocks.mp3")
    
    banner
      heroImg(src="#{baseUrl}/resources/images/italy/italy_9_square.jpg")
      infoList
        info
          header: title Header
          text Text 1
          text Text 2
          text Text 3
      stack
        title Title
        row
          text Text 1
          text Text 2
          text Text 3
        description(allowsZooming="true" template="#{baseUrl}/templates/AlertWithDescription.xml.js" presentation="modalDialogPresenter")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        row
          buttonLockup
            badge.whiteBadge(src="resource://button-remove")
            title Title 1
          buttonLockup
            badge.whiteBadge(src="resource://button-add")
            title Title 2
          buttonLockup
            badge.whiteBadge(src="resource://button-cloud")
            title Title 3

    shelf
      header: title Shelf Header
      section
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_1.lcr" width="150" height="226")
          title.showTextOnHighlight Title 1
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_2.lcr" width="150" height="226")
          title.showTextOnHighlight Title 2
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_3.lcr" width="150" height="226")
          title.showTextOnHighlight Title 3
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_4.lcr" width="150" height="226")
          title.showTextOnHighlight Title 4
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_5.lcr" width="150" height="226")
          title.showTextOnHighlight Title 5
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_6.lcr" width="150" height="226")
          title.showTextOnHighlight Title 6
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_7.lcr" width="150" height="226")
          title.showTextOnHighlight Title 7
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_1.lcr" width="150" height="226")
          title.showTextOnHighlight Title 8
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_2.lcr" width="150" height="226")
          title.showTextOnHighlight Title 9
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_3.lcr" width="150" height="226")
          title.showTextOnHighlight Title 10
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_4.lcr" width="150" height="226")
          title.showTextOnHighlight Title 11
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_5.lcr" width="150" height="226")
          title.showTextOnHighlight Title 12
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_6.lcr" width="150" height="226")
          title.showTextOnHighlight Title 13
        lockup
          img(src="#{baseUrl}/resources/images/movies/movie_7.lcr" width="150" height="226")
          title.showTextOnHighlight Title 14

    shelf
      header: title Title
      section
        reviewCard
          badge(src="resource://button-checkmark")
          title Title 1
          subtitle Subtitle 1
        reviewCard
          badge(src="resource://button-artist")
          title Title
          description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        reviewCard
          badge(src="resource://button-follow")
          subtitle Subtitle
          description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    shelf.shelfLayout
      header: title Title
      section
        monogramLockup
          monogram(firstName="Adam" lastName="Gooseff")
          title Adam Gooseff
        monogramLockup
          monogram(firstName="Ailish" lastName="Kimber")
          title Ailish Kimber
        monogramLockup
          monogram(firstName="Allen" lastName="Buchinski")
          title Allen Buchinski
        monogramLockup
          monogram(firstName="Dave" lastName="Elfving")
          title Dave Elfving
        monogramLockup
          monogram(firstName="Ethan" lastName="Izzarelli")
          title Ethan Izzarelli
        monogramLockup
          monogram(firstName="Euna" lastName="Kwon")
          title Euna Kwon
        monogramLockup
          monogram(firstName="Fritz" lastName="Ogden")
          title Fritz Ogden
        monogramLockup
          monogram(firstName="Gilbert" lastName="Solano")
          title Gilbert Solano
        monogramLockup
          monogram(firstName="Jamie" lastName="Wong")
          title Jamie Wong
        monogramLockup
          monogram(firstName="Joyce" lastName="Sihn")
          title Joyce Sihn
        monogramLockup
          monogram(firstName="Vivian" lastName="Li")
          title Vivian Li
        monogramLockup
          monogram(firstName="Paul" lastName="Cashman")
          title Paul Cashman
        monogramLockup
          monogram(firstName="Stephanie" lastName="Vidal")
          title Stephanie Vidal
        monogramLockup
          monogram(firstName="Yumi" lastName="Asai")
          title Yumi Asai
        monogramLockup
          monogram(firstName="Rachel" lastName="Roth")
          title Rachel Roth
        monogramLockup
          monogram(firstName="Mike" lastName="Stern")
          title Mike Stern
