doctype xml
document
  head
    :style
      .showTextOnHighlight {
        tv-text-highlight-style: show-on-highlight;
      }
      .whiteButton {
        tv-tint-color: rgb(255, 255, 255);
      }
      .shelfLayout {
        padding: 40 90;
      }
  productBundleTemplate
    background
      img(src="#{baseUrl}/resources/images/wide_background.jpg")
      audio: asset(src="#{baseUrl}/resources/audio/Building_Together.mp3")

    banner
      stack
        title Title
        subtitle Subtitle
        text Text
        description(allowsZooming="true" template="#{baseUrl}/templates/AlertWithDescription.xml.js" presentation="modalDialogPresenter")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        row
          buttonLockup
            badge.whiteButton(src="resource://button-rate")
            title Title 1
          buttonLockup
            badge.whiteButton(src="resource://button-add")
            title Title 2
          buttonLockup
            text Text
            title Title 3

    shelf
      header: title Shelf Header
      section
        lockup
          img(src="#{baseUrl}/resources/images/italy/italy_10.jpg" width="252" height="160")
          title.showTextOnHighlight Title 1
          overlay
            progressBar(value="0.1")
          relatedContent
            infoTable
              header: title Info Header 1              
              info
                header: title Title 1
                description
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        lockup
          img(src="#{baseUrl}/resources/images/italy/italy_2.jpg" width="252" height="160")
          title.showTextOnHighlight Title 2
          relatedContent
            infoTable
              header: title Info Header 2
              info
                header: title Title 2
                text A line of text
              
        lockup
          img(src="#{baseUrl}/resources/images/italy/italy_3.jpg" width="252" height="160")
          title.showTextOnHighlight Title 3
          relatedContent
            infoTable
              header: title Info Header 3
              info
                header: title Title 3
                description
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        lockup
          img(src="#{baseUrl}/resources/images/italy/italy_4.jpg" width="252" height="160")
          title.showTextOnHighlight Title 4
          relatedContent
            infoTable
              header:title Info Header 4
              info
                header: title Title 4
                row: text 
                  | A line of text
        
        lockup
          img(src="#{baseUrl}/resources/images/italy/italy_1.jpg" width="252" height="160")
          title.showTextOnHighlight Title 5
          relatedContent
            infoTable
              header: title Info Header 5
              info
                header: title Title 5
                description
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        lockup
          img(src="#{baseUrl}/resources/images/italy/italy_6.jpg" width="252" height="160")
          title.showTextOnHighlight Title 6
          relatedContent
            infoTable
              header: title Info Header 6
              info
                header
                row: text A line of text
              info
                header
                description
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              
    shelf
      header: title Shelf Header
      section
        lockup
          img(src="#{baseUrl}/resources/images/music/music_1.lcr" width="250" height="250")
          title.showTextOnHighlight Title 1
        lockup
          img(src="#{baseUrl}/resources/images/music/music_2.lcr" width="250" height="250")
          title.showTextOnHighlight Title 2
        lockup
          img(src="#{baseUrl}/resources/images/music/music_3.lcr" width="250" height="250")
          title.showTextOnHighlight Title 3
        lockup
          img(src="#{baseUrl}/resources/images/music/music_4.lcr" width="250" height="250")
          title.showTextOnHighlight Title 4
        lockup
          img(src="#{baseUrl}/resources/images/music/music_5.lcr" width="250" height="250")
          title.showTextOnHighlight Title 5
        lockup
          img(src="#{baseUrl}/resources/images/music/music_6.lcr" width="250" height="250")
          title.showTextOnHighlight Title 6
        lockup
          img(src="#{baseUrl}/resources/images/music/music_7.lcr" width="250" height="250")
          title.showTextOnHighlight Title 7
        
    shelf.shelfLayout
      header: title Shelf Header
      section
        ratingCard
          title Title
          ratingBadge(value="0.7")
          description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        reviewCard
          title Title 1
          subtitle Subtitle 1
          description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        reviewCard
          title Title 2
          description 
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        reviewCard
          subtitle Subtitle 3
          description 
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
