doctype xml
document
  head
    :style
      .suggestionListLayout {
        margin: -150 0;
      }
  
  searchTemplate
    searchField
    collectionList
      shelf
        list.suggestionListLayout
          section
            header: title Suggestions
            listItemLockup: title "arc"
            listItemLockup: title arcade

      separator
      
      shelf
        header: title Shelf Title
        section
          each val in [1, 2, 3, 4, 5, 6, 7]
            lockup
              img(src="#{baseUrl}/resources/images/movies/movie_#{val}.lcr" width="350" height="520")

      grid
        header: title Grid Title
        section
          each val in [1, 2, 3, 4, 5, 6, 7]
            lockup
              img(src="#{baseUrl}/resources/images/music/music_#{val}.lcr" width="350" height="350")
              title Title #{val}
