doctype xml
document
  productTemplate
    banner
      heroImg(src= dynamicContent.product.heroImg)
      infoList
        info
          header
            title=dynamicContent.product.type
      stack
        title= dynamicContent.product.title 
        row
          text= dynamicContent.product.vendor
        description(allowsZooming="true" moreLable="more")= dynamicContent.product.description
        row
          buttonLockup(type="buy" template="#{baseUrl}/templates/BuyProduct.xml.js?handle=#{dynamicContent.product.handle}")
            text=dynamicContent.product.price
            title Buy
      shelf
        header: More images 
        section
          each image in dynamicContent.product.images
            lockup
              img(src=image)
