doctype xml
document
  head
    :style
      .imageWithGradient {
        tv-tint-color: linear-gradient(top, 0.33, transparent, 0.66, rgba(0,64,0,0.7), rgba(0,64,0,1.0));
      }
      .showTextOnHighlight {
        tv-text-highlight-style: show-on-highlight;
      }
      .scrollTextOnHighlight {
        tv-text-highlight-style: marquee-on-highlight;
      }
      .showAndScrollTextOnHighlight {
        tv-text-highlight-style: marquee-and-show-on-highlight;
      }

  stackTemplate
    collectionList
      carousel
        section
          each val in [1, 2, 3]
            lockup
              img(src="#{baseUrl}/resources/images/carousel/carousel_#{val}.lcr" width="1740" height="500")
              overlay
                title Title #{val}
                subtitle Subtitle #{val}

      shelf
        header: title Shelf title
        section
          each val in [1, 2, 3, 4, 5, 6, 7]
            lockup
              img(src="#{baseUrl}/resources/images/movies/movie_#{val}.lcr" width="332" height="500")
              title.scrollTextOnHighlight Title #{val}
          
      shelf
        header: title.showTextOnHighlight Row 1
        section
          each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
            lockup
              img(src="#{baseUrl}/resources/images/iceland/iceland_#{val}_square.jpg" width="308" height="308")
              title.showTextOnHighlight Title #{val}

      shelf
        section
          each val in [1, 2, 3, 4, 5]
            lockup
              img(src="#{baseUrl}/resources/images/italy/italy_#{val}.jpg" width="578" height="260" aspectFill="1")
              title.showTextOnHighlight Title #{val}

      grid
        header: title Row 2
        section
          lockup
            img(class="imageWithGradient" src="#{baseUrl}/resources/images/iceland/iceland_8.jpg" width="1024" height="414")
            overlay
              title Title

          lockup
            img(src="#{baseUrl}/resources/images/music/music_1.lcr" width="308" height="308")
            title Title
            subtitle Subtitle
            subtitle Subtitle 2
          
          lockup
            img(src="#{baseUrl}/resources/images/music/music_2.lcr" width="308" height="308")
            title Title
            subtitle Subtitle
            subtitle Subtitle 2
