doctype xml
document
  head
    :style
      .lightBackgroundColor {
        background-color: #e49c36;
      }
    
  stackTemplate.lightBackgroundColor(theme="light")
    identityBanner
      heroImg(src="#{baseUrl}/resources/images/iceland/iceland_11.jpg" width="200" height="200")
      title Lorem Ipsum Dolor
      subtitle Lorem Ipsum
      row
        each action in ['follow', 'checkmark', 'add']
          buttonLockup
            badge(src="resource://button-#{action}")
            title Title #{action}      
    
    collectionList
      shelf
        header: title Shelf title
        section
          each val in [1, 2, 3, 4, 5, 6, 7]
            lockup
              img(src="#{baseUrl}/resources/images/music/music_#{val}.lcr" width="390" height="390")
              title Title #{val}
      
      shelf
        header: title Shelf title
        section
          each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
            lockup
              img(src="#{baseUrl}/resources/images/iceland/iceland_#{val}_square.jpg" width="390" height="390")
              title Title #{val}
